<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AJAX Demo</title>
</head>
<body>

<script type="template/handlebars" id="song-list-template">
  {{#each favoriteSongs}}
    <div class="song">
      <h2>{{title}}</h2>
      <p>${{price}}</p>
      <p>Play Count: {{playCount}}</p>
    </div>
  {{else}}
    <p>No songs found.</p>
  {{/each}}
</script>

<div id="song-list"></div>

<script src="jquery-3.1.0.js"></script>
<script src="handlebars-v4.0.5.js"></script>
<script src="main.js"></script>

</body>
</html>
